@import "nullStyle.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

/* Общее */

body {
  background: #f1f1f1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.objective,
.time,
.courses,
.contacts {
  background: #F5F5F5;
  border: 2px solid #C0C0C0;
  box-shadow: 0 0 3px #C0C0C0;
  max-width: 700px;
  width: 100%;
  margin: 5px 0;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 30px 0;
}

h2 {
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
}

/* Блок Инфо */

.info {
  display: flex;
  align-items: center;
  max-width: 700px;
  width: 100%;
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  .info {
    flex-direction: column;
  }
}

.info__avatar {
  width: 200px;
}

.info__avatar img {
  width: 100%;
  border-radius: 5px;
}

.info__text {
  margin: 15px 0 0 20px;
}

.info p {
  margin-bottom: 15px;
  font-weight: bold;
}

.info h4 {
  font-weight: normal;
}

/* Блок Цели */

.objective__list {
  letter-spacing: 0.3px;
  padding: 0 0 20px 50px;
}

.objective__list li {
  padding-bottom: 3px;
}

/* Блок Время */

.time__table {
  margin: 0 auto;
  width: 30%;
  min-width: 150px;
  padding-bottom: 20px;
}

/* Блок Курсы */

.courses__table {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding-bottom: 20px;
  border-spacing: 0;
}

.courses__table th {
  border-bottom: 2px solid #C0C0C0;
  padding-bottom: 7px;
}

.courses__table td {
  padding-top: 10px;
}

a:link, a:visited {
  color: inherit;
  text-decoration: underline;
  transition-duration: 0.3s;
}

a:hover {
  color: #808080;
}

a:active {
  color: #0000FF;
}

/* Блок Контакты */

.contacts__link {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

@media (max-width: 480px) {
  .contacts__link {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__link a:link, .contacts__link a:visited {
  width: 150px;
  line-height: 50px;
  background: #CD5C5C;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
}

.contacts__link a:hover, .contacts__link a:active {
  background: #FF0000;
  box-shadow: 0 0 5px #FF0000;
}
